<nav class="navbar fixed-top bg-dark text-light">
    <span class="h1 text-light" class="navbar-brand mb-0">Meritz</span>

    <div class="form-inline" *ngIf="(loginMember | async) !== null">
        <span class="text-light" style="padding-right: 10px;">{{ (loginMember | async)?.name}} 님 환영합니다.</span>
        <button class="btn btn-outline-danger my-2 my-sm-0" type="button" (click)="logout()">Logout</button>
    </div>
    <form [formGroup]="formModel" class="form-inline" *ngIf="(loginMember | async) === null" (ngSubmit)="goLogin()">
        <input class="form-control mr-sm-2" type="text" placeholder="사번입력" aria-label="사번" formControlName="sabun">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">LOGIN</button>
    </form>
</nav>